### 1) What is a Database 

#### A database is an organized collection of data, generally stored and accessed electronically from a computer system. 

#### Examples

* RDBMS   Example systems: Microsoft Access and MySQL
* Document stores/document-oriented database  Example systems: MongoDB
* Key-value stores  Example systems: Redis   Example users: Stack Exchange
* Search engines  Example systems: Elasticsearch  Example users: Vimeo
* Wide column stores/extensible record stores Example systems: Cassandra  Example users: Netflix
* Graph DBMS Example systems: Neo4j and Microsoft Azure Cosmos DB ,Example users: Ebay

https://codebots.com/continuous-modernisation/types-of-databases-and-dbms-with-examples

 
### 2) Two main types of modern databases


*The two main types of modern databases to choose from are relational and non-relational

#### Relational /SQL

* SQL databases are known as relational databases, and have a table-based data structure, with a strict, predefined schema required.


#### Non-relational/ NoSQL 
* NoSQL databases, or non-relational databases, can be document based, graph databases, key-value pairs, or wide-column stores. NoSQL databases don’t require any predefined schema, allowing you to work more freely with “unstructured data.”






### 3) Database management system Software

####   Database Management System (DBMS) is a software that is used to define, create and maintain a database and provides controlled access to the data.


##### RDMS 
* Relational Database Management System (RDBMS) is an advanced version of a DBMS.
##### RDBMS examples include
* MySQL, 
* Microsoft SQL Server,
* Oracle
* PostgreSQL, 
* SQLite

# Installing MySQL

Download Link: 

https://dev.mysql.com/downloads/windows/installer/8.0.html

Install notes :
https://www.youtube.com/watch?v=7S_tz1z_5bA


Windows (x86, 32-bit), MSI Installer

# Retreving Data

- SQL is a programming language used to communicate with data stored in relational databases.

## SQL Statements

* A statement is a text that a database recognizes as a valid command.
* Statements always end with a semi colon.
* Two dashes ( -- ) before an SQL statement indicate a comment.

In [ ]:
# Basic structure of an SQL Statements
CREATE TABLE table_name (
    column_1 datatype,
    column_2 datatype,
    column_3 datatype
);

#### 1) CREATE TABLE 
* This is a <b>clause</b>.
* Clauses perform specific tasks in SQL.
* By convention clauses are written in UPPERCASE.
* Clauses are also called <b>commands</b>

#### 2) table_name
* Refers to the name of the table that the command is applied to.

#### 3) column_1, datatype, column_2, column_3
* These are called parameters. They are passed to the clause as arguments.

In [ ]:
# select the database 
USE jumiaa_store;  

#select all columns 
SELECT *

# the table 
FROM customers;

!['sql'](sql.png)

## SQL CLAUSES

#### 1) CREATE TABLE
* Create allows us to create new table in the database.

In [ ]:
CREATE TABLE celebs (
    name TEXT,
    ID INTEGER,
    age INTEGER
);

#### 2) INSERT
- Inserts a new row into the table.

In [ ]:
INSERT INTO celebs(ID, name, age)
VALUES (1, 'J Cole', 36);

#### 3) SELECT
- SELECT is used to fetch data from the database

In [ ]:
SELECT *
FROM celebs;

# * indicates we want to select all colomns. We can also select individual columns ( SELECT name FROM celebs )
# FROM Celebs - Specifies the table we want to query the data from.

#### 4) ALTER
Alter statement adds new column to a table.

In [ ]:
ALTER TABLE celebs
ADD COLUMN home TEXT;
# The row that existed before the column was created have NULL value for home column

#### 5) UPDATE
- Update statement edits a row in a table.
- Used when you want to update existing records.

In [ ]:
UPDATE celebs
SET home='Frankfurt'
WHERE ID=1;
# SET - Indicates the column we want to update.
# WHERE - Indicates which row to update with the new column value.

#### 6) DELETE
- Deletes one or more rows from a table.

# We will explore more clauses as we continue.

In [ ]:
DELETE FROM celebs 
WHERE home IS NULL;

## Constraints
- Constraints that add infromation about how a column can be used are invoked after specifying data type for a column.
- They can be used to tell the database to reject inserted data that does not adhere to a certain restriction.

In [ ]:
CREATE TABLE celebs (
    id INTEGER PRIMARY KEY,
    name TEXT UNIQUE,
    date_of_birth TEXT NOT NULL,
    networth TEXT DEFAULT 'Unknown'
);
# PRIMARY KEY - Used to uniquely identify a record.
# UNIQUE - Columns have a different value for each row
# NOT NULL - The field cannot be null.
# Default - If the value is not specified 'Unknown' will be the default value.

## Writing SQL Queries
- Querying is retrieving information stored in a database.
- Querying utilises the <u>SELECT</u> clause.
* The data returned is stored in a result table, called the <u>result-set</u>.
* Queries can be used in <b>FUNNEL ANALYSIS</b>.

In [ ]:
SELECT *
FROM customers;

In [ ]:
# SELECT SPECIFIC COLUMNS 

USE jumiaa_store; 

SELECT first_name, city 
FROM customers;

In [ ]:
# SELECT SPECIFIC COLUMNS ,+NEW 
USE jumiaa_store; 

SELECT first_name, city ,points, points+10
FROM customers;

#### AS
- <b>AS</b> is a SQL keyword used for renaming a column or table using an alias

In [ ]:
USE jumiaa_store; 

SELECT first_name, city ,points, points+10, points * 400 AS 'Discount'
FROM customers;

#### DISTINCT
- When we are examining data in a table, it can be helpful to know what distinct values exist in a particular column.

In [ ]:
USE jumiaa_store; 

SELECT DISTINCT city
FROM customers;

#### WHERE
- We can use <b>WHERE</b> to restrict a query result inorder to obtain the data we are only looking for.
- WHERE filters the result set to include only the rows where the condition is <b>True</b>
- Example you may want to get only the cutomer who have more than 1000 points.
- Types of operators 
    - <b> <, <=, >, =>, != </b>

In [ ]:
USE jumiaa_store; 

SELECT *
FROM customers 
WHERE points > 1000;

#### LIKE
- <b>LIKE</b> is used when you want to compare similar values.
- For instance we want so select customers whos first name start with letter J.
- % wildcard character is used.
- When % is used before a pattern, the value should start with that pattern.
- When its used after the pattern, the value should end with that pattern.
- Can also be used at the start and end of a pattern eg %man%.
    This basically means that the value must contain the word man in it.

<br>
<br>
* We can also use wildcard _. eg j_n - Meansthe value should start with j and end with n and have just one character in the middle.

In [ ]:
USE jumiaa_store; 

SELECT *
FROM customers 


WHERE first_name LIKE 'J%';

#### IS NULL
- Unknown or missing values are indicated by NULL.
- The opposite of NULL is NOT NULL.

In [ ]:
USE jumiaa_store; 

SELECT *
FROM customers 
WHERE phone IS NULL

#### BETWEEN
- The BETWEEN OPERATOR is used with WHERE clause to filter the result set within a certain range.
- It accepts two variables two values that are either numbers, text, date.
- When the values ate text, BETWEEN filters the result set for within alphabetical range.

In [ ]:
# select customers with points beetween 900 and 2000

SELECT *
FROM customers 
WHERE points BETWEEN 900 AND 2000;

#### AND
- When we want to combine multiple conditions in a WHERE clause to make the result set more specific and useful.
- We can do that using <b>AND</b>.

In [ ]:
# where total price is greater than 30

SELECT *
FROM order_items 
WHERE order_id > 6 AND unit_price * quantity > 30;

#### OR
- Can also be used to combine multiple conditions in <b>WHERE</b> but has fundamental difference from <b>AND</b>.
- <b>OR</b> - Displays the rows if any condition is True.
- <b>AND</b> - Displays the rows if all condition is True.

In [ ]:
# where points are > than 100 or birth date is '1990-01-01'

SELECT *
FROM customers 
WHERE points > 100 OR birth_date = '1990-01-01';

#### IN
- The IN operator allows you to specify multiple values in a WHERE clause.
- The IN operator is a shorthand for multiple OR conditions.

In [ ]:
# Select customer who live in Nairobi Cape town and Mombasa

SELECT *
FROM customers 
WHERE city IN ('Nairobi', 'Cape' ,'Mombasa');

#### REGEXP OPERATOR
- SQL allows you to match pattern right in the SQL statements by using REGEXP operator.

In [ ]:
# select customers where firt name = John

SELECT *
FROM customers 
WHERE first_name REGEXP 'John';

#### ORDER BY
- We can sort a result set using ORDER BY either alphabetically or numerically.
- ORDER BY defaults to ascending order.

In [ ]:
SELECT *, quantity * unit_price AS total_price
FROM order_items
WHERE order_id=2
ORDER BY quantity * unit_price;

#### Sometimes we might want to sort result set in descending order.

In [ ]:
SELECT *, quantity * unit_price AS total_price
FROM order_items
WHERE order_id=2
ORDER BY quantity * unit_price DESC;

#### LIMIT
- LIMIT is a clause that lets you specify the maximum number of rows the result set will display.
- Saves space on the screen and makes queries run faster.
- LIMIT always goes at the very end of the query. Also not supported

In [ ]:
SELECT *, quantity * unit_price AS total_price
FROM order_items
WHERE order_id=2
ORDER BY quantity * unit_price DESC
LIMIT 2;

#### CASE
- A CASE statement allows us to create different outputs (usually in the SELECT statement)
- Its SQL's way of handling if-then logic.
- Suppose we want to gauge the performance of products sold at the store by the quantity sold.
    - If the quantity is above 8 then the product is FANTASTIC
    - if the quantity is above 6 then the product is FAIRLY GOOD.
    - Else the producis POOR

In [ ]:
SELECT quantity,
    CASE
        WHEN quantity > 8 THEN 'Fanatastic'
        WHEN quantity > 6 THEN 'Fairly Good'
        ELSE 'Poor'
    END AS Performance
FROM order_items;
# Case statement must end with END

## SQL AGGREGATE FUNCTIONS.

- These are the functions used to perform calculations using SQL.
- Calculations performed on multiple rows of a table are called <u>aggregates.</u>
- They are:-
    - COUNT() - Count the number of rows.
    - SUM() - Sums the values in a column.
    - MAX() / MIN() - Largest/Smallest value.
    - AVG() - The average of the values in a column.
    - ROUND() - Rounds the values in a column.

#### COUNT()

- COUNT() takes the name of a column as an argument and counts the number of non empty values in that column.

In [ ]:
SELECT COUNT(invoice_total) AS total_COUNT
    
FROM  jumiaa_invoicing.invoices;

#### SUM()

- SUM() is a function that takes the name of a column as an argument and returns the sum of all values in that column.

In [ ]:
SELECT SUM(invoice_total) AS invoice_sum
    
FROM  jumiaa_invoicing.invoices;

#### MAX() / MIN()
- The MAX() and MIN() functions return the highest & lowest values in a column respectively.

In [ ]:
SELECT MAX(invoice_total) AS invoice_max, MIN(invoice_total) AS invoice_min
    
FROM  jumiaa_invoicing.invoices;

#### AVG() 
- AVG() function calculates the average value for a particular column.

In [ ]:
SELECT AVG(invoice_total) AS invoice_average
    
FROM  jumiaa_invoicing.invoices;

#### ROUND()
- ROUND() function take two arguments inside the parenthesis.
    - Column name
    - Integer
- It rounds off all values in the column to the number of decimal places specified by the integer.

In [ ]:
SELECT ROUND(invoice_total, 1) AS invoice_total_1dp

FROM  jumiaa_invoicing.invoices;

#### GROUP BY

- GROUP BY is a clause in SQL that is used with aggregate functions.
- It is used in collaboration with SELECT statement to arrange identical data into groups eg we want to calculate the average invoice_total per client. 
- GROUP BY comes after any WHERE but before ORDER BY or LIMIT.

In [ ]:
SELECT  client_id,  
    MAX(invoice_total) AS total_max,
    MIN(invoice_total) AS total_min,
    AVG(invoice_total) AS AVG_TOTAL,
	SUM(invoice_total) AS total_sum,
    COUNT(invoice_total) AS total_COUNT
    
FROM  jumiaa_invoicing.invoices 
GROUP BY client_id

# with WHERE
SELECT  client_id,  
    MAX(invoice_total) AS total_max,
    MIN(invoice_total) AS total_min,
    AVG(invoice_total) AS AVG_TOTAL,
	SUM(invoice_total) AS total_sum,
    COUNT(invoice_total) AS total_COUNT
    
FROM  jumiaa_invoicing.invoices 
WHERE invoice_date > '2019-3-8'
GROUP BY client_id

#### HAVING
- SQL allows us to filter which groups to include and which to exclude.
- HAVING is very similar to WHERE. 
- When we want to limit the results of a query based on values of an individual row, we use WHERE 
- When we want to limit the results of a query based on an aggregate property we use HAVING.
- HAVING comes after GROUP BY but before ORDER BY and LIMIT.

In [ ]:
SELECT  *, AVG(invoice_total) AS avg
    
FROM  jumiaa_invoicing.invoices 

GROUP BY client_id
HAVING AVG(invoice_total) > 150;

#### WITH ROLLUP

- The ROLLUP is an extension of the GROUP BY clause. 
- The ROLLUP option allows you to include extra rows that represent the subtotals, which are commonly referred to as super-aggregate rows, along with the grand total row. 
- By using the ROLLUP option, you can use a single query to generate multiple grouping sets.

In [ ]:
SELECT client_id,
SUM(invoice_total) AS  total_sales,
COUNT(*) AS number_of_invoices
FROM  jumiaa_invoicing.invoices 
GROUP BY client_id WITH ROLLUP

## STRFTIME()
- STRFTIME() function is a very powerful function that allows us to return a formatted date.
- It takes two arguments.
- strftime(format, column)

## COMBINING MULTIPLE TABLE IN SQL

- We can combine tables in SQL using <b>JOIN</b>

In [ ]:
SELECT *
FROM orders 
JOIN customers 
    ON  orders.customer_id  = customers.customer_id

- The first line selects all columns from the combined table. If we only want to select certain columns, we can specify which ones we want.
- The second line specifies the first table we want to look in i.e orders table.
- The third line uses JOIN to spacify the second table we want to combine the information with.
- The fourth tell us how to combine the two tables. We want to match the orders table's customer_id with customer table's customer_id column.

###### Joining Multiple tables

In [ ]:
SELECT *
FROM orders o
JOIN customers c 
     ON o.customer_id = c.customer_id
JOIN order_statuses os 
    ON o.status  = os.order_status_id

#### INNER JOINS
<b><u>Col_1</u></b>&emsp;<b><u>Col_2</u></b>&emsp;<b><u>Col_2</u></b>&emsp;<b><u>Col_3</u></b> <br>
    M&emsp;&emsp;&emsp;&ensp;K&emsp;&emsp;&emsp;&ensp;K&emsp;&emsp;&emsp;&ensp;L <br>
    Q&emsp;&emsp;&emsp;&ensp;W&emsp;&emsp;&emsp;&ensp;E&emsp;&emsp;&emsp;&ensp;R <br>
    X&emsp;&emsp;&emsp;&ensp;Y&emsp;&emsp;&emsp;&ensp;Y&emsp;&emsp;&emsp;&ensp;Z <br>
    
- Using JOIN here will join the first and the last rows since the 2nd row the reference column values do not match.

#### LEFT JOINS
- LEFT JOIN is used whane we want to combine two tables & keep some of the unmatched rows.
- SQL lets us do that with the LEFT JOIN command.

In [ ]:
SELECT *
FROM orders o
LEFT JOIN customers c 
     ON o.customer_id = c.customer_id
    
# If there is not match it will return null for the values on the right side.

#### Cross Join
- Sometimes we just want to combine all rows of one table with all rows of another table.
- For instance if we had a table of shirts and table of shorts, we might want to know all the possible combinations to create different outfits.

SELECT shirts.shirt_color, shorts.short_color<br>
FROM shirts<br>
CROSS JOIN shorts;<br>
<br>
Notice that the CROSS JOINS do not require ON statement because we are not really joining any columns.

#### UNIONS
- Sometimes we just want to stack one dataset on top of another.
- UNION allows us to do that.
###### For UNION to work:
    - The tables must have same number of columns.
    - Columns must have the same datatypes in the same order.

In [ ]:
SELECT *
FROM table1
UNION
SELECT *
FROM table2

#### WITH
- WITH is used when we want to combine tables but one of the tables is a result of another calculation.
- It allows us to perform a separate query (such as aggregating).

In [ ]:
WITH prev_query AS (
    SELECT customer_id, 
        COUNT(order_id) AS orders
    FROM orders
    GROUP BY 1 # 1 means the first column in the SELECT statement.
    )
SELECT customers.first_name, customers.last_name, prev_query.orders
FROM customers
JOIN prev_query
    on prev_query.customer_id = customers.customer_id;

## PRIMARY KEY vs FOREIGN KEY

- Each table has a column that uniquely identifies each row of that table. The special columns are called <b>Primary Keys</b>

###### Requirements  for Primary Key
- None of the values can be NULL.
- Each value must be unique.
- A table can not have more than one primary key column.

<b>When a primary key for one table appears in a different table its called a <u>FOREIGN KEY</u></b>

## Views
<br>
- In a database, a view is the result set of a stored query on the data, which the database users can query just as they would in a persistent database collection object.
<br>
<br>

###### Create a View

In [ ]:
CREATE VIEW aggs_by_customers AS
SELECT  client_id,  
    MAX(invoice_total) AS total_max,
    MIN(invoice_total) AS toaggs_by_customerstal_min,
    AVG(invoice_total) AS AVG_TOTAL,
	SUM(invoice_total) AS total_sum,
    COUNT(invoice_total) AS total_COUNT
    
FROM  jumiaa_invoicing.invoices 
WHERE invoice_date >='2019-07-01'
GROUP BY client_id

###### Dropping views

In [ ]:
DROP VIEW  jumiaa_store.aggs_by_customers

#### Altering

In [ ]:
CREATE OR REPLACE  VIEW aggs_by_customers AS
SELECT  client_id,  
    MAX(invoice_total) AS total_max,
    MIN(invoice_total) AS toaggs_by_customerstal_min,
    AVG(invoice_total) AS AVG_TOTAL,
	SUM(invoice_total) AS total_sum,
    COUNT(invoice_total) AS total_COUNT
    
FROM  jumiaa_invoicing.invoices 
WHERE invoice_date >='2019-07-01'
GROUP BY client_id

# READ MORE NOT COVERED 

* Relationships.
* stored procedures 
* Trigger and events 
* Transaction and cocurrency 
* Design databases 
* indexing 
* securing databases

# Read and Practice More

* 1 ) https://www.w3schools.com/mysql/default.asp
    
* 2 ) https://www.youtube.com/watch?v=7S_tz1z_5bA